@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .container {
    padding: 0 30px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 0px 0;
}

.background__container {
  margin: 0 auto;
  flex-direction: column;
  background-color: #02160b;
  background: url("../assets/Rectangle.png") no-repeat center/cover;
}
.background__container .header {
  max-width: 1200рх;
  margin: 0 auto;
  padding-top: 19px;
}
.background__container .header .header__nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 60px;
}
.background__container .header .header__nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.background__container .header .header__nav .logo .header__logo {
  padding-right: 15.73px;
}
.background__container .header .header__nav .logo .logo__text {
  text-transform: uppercase;
  color: #F7F7F7;
  font-family: "Roboto";
  font-size: 32px;
  line-height: 60px;
  font-weight: 400;
}
.background__container .header .header__nav .logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.background__container .header .header__nav .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background__container .header .header__nav .navigation .nav__list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background__container .header .header__nav .navigation .nav__list ul a {
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 400;
  color: #F7F7F7;
  text-align: left;
  margin-right: 65px;
  transition: 0.5s;
}
.background__container .header .header__nav .navigation .nav__list ul a img {
  transition: 0.5s;
}
.background__container .header .header__nav .navigation .nav__list ul a img:hover {
  transform: scale(1.2);
}
.background__container .header .header__nav .navigation .nav__list ul a:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #CD6326;
}
.background__container .header .header__nav .navigation .nav__btn {
  display: flex;
  align-items: center;
  width: 120px;
  height: 50px;
  left: 1200px;
  padding: 2px 23px;
  border: 2px solid #CD6326;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.5s;
  background-color: transparent;
  font-family: "Roboto";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #F7F7F7;
}
.background__container .header .header__nav .navigation .nav__btn:hover {
  transform: scale(0.9);
  background: #CD6326;
  transition: 0.5s;
  cursor: pointer;
}
.background__container .header .header__nav .navigation .nav__btn a {
  font-family: "Roboto";
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  color: #F7F7F7;
}
.background__container .header__content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 120px 0 240px;
  color: #F7F7F7;
}
.background__container .header__content .title {
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 2px;
  text-align: left;
  color: #CD6326;
  transition: 0.5s;
}
.background__container .header__content .title:hover {
  transition-property: font-size;
  transition-duration: 0.5s;
  font-size: 65px;
}
.background__container .header__content .sub__title {
  margin: 51px 0 48px;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  box-sizing: border-box;
  max-width: 274px;
  width: 100%;
  transition: 0.5s;
}
.background__container .header__content .sub__title:hover {
  background-color: #18161783;
  transform: scale(1.3);
}
.background__container .header__content .header__btn {
  max-width: 160px;
  width: 100%;
  font-family: "Roboto";
  font-size: 23px;
  padding: 16px 42px;
  line-height: 27px;
  font-weight: 400;
  background: #CD6326;
  border-radius: 5px;
  transition: 0.5s;
  outline: none;
  font-family: "Roboto";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #F7F7F7;
}
.background__container .header__content .header__btn:hover {
  transform: scale(0.9);
  border: 2px solid #CD6326;
  background: transparent;
  transition: 0.5s;
  cursor: pointer;
}

.slider {
  background: #CCCCCC;
  padding: 120px 0 238px;
}
.slider .slider__title {
  font-family: "Open Sans";
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  font-weight: 400;
  color: #333;
}
.slider .slider__subtitle {
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #666;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin: 15px 0 120px;
}
.slider .slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider .slider__container .slider__items {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1020px;
  width: 100%;
}
.slider .slider__container .slider__items .slider__item {
  max-height: 360px;
  max-width: 300px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider .slider__container .slider__items .slider__item img {
  transition: 0.5s;
}
.slider .slider__container .slider__items .slider__item img:hover {
  transform: scale(1.5);
}
.slider .slider__container .slider__items .slider__item:not(:last-child) {
  margin-right: 60px !important;
}
.slider .slider__container .slider__items .slider__item:hover {
  background: #f7f7f721;
}
.slider .slider__container .slider__items .slider__item h4 {
  position: absolute;
  top: 247px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  color: #F7F7F7;
  text-align: center;
}
.slider .slider__container .slider__items .slider__item p {
  position: absolute;
  top: 293px;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  color: #F7F7F7;
  text-align: center;
}
.slider .slider__container .custom__arrows {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
}
.slider .slider__container .custom__arrows .owl-nav_arrow {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.5s;
}
.slider .slider__container .custom__arrows .owl-nav_arrow:hover {
  transform: scale(1.1);
}

.section__form {
  background-color: #CCCCCC;
  padding-bottom: 239px;
}
.section__form .form .form__title {
  font-family: Open Sans;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 61px;
}
.section__form .form form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__form .form form .input {
  max-width: 540px;
  height: 60px;
  width: 100%;
  border: #666;
}
.section__form .form form .input input {
  max-width: 540px;
  height: 60px;
  width: 100%;
  outline: none;
  font-family: "Roboto";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  padding-left: 15px;
  color: #666;
  background: #CCCCCC;
  border-right: transparent;
}
.section__form .form form .button {
  height: 60px;
  width: 120px;
  background: #CD6326;
  border: 1px solid #CD6326;
  border-radius: 0px 5px 5px 0px;
  color: #F7F7F7;
  font-family: "Roboto";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  transition: 0.3s;
}
.section__form .form form .button:hover {
  border: 2px solid #666;
  border-left: none;
  color: #a5775c;
  font-size: 25;
  background: transparent;
}

.footer {
  background: url(../assets/Rectangle@2x.png) no-repeat center/cover;
  background-color: #181617;
  padding: 150px 0;
}
.footer .footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 60px;
}
.footer .footer__nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__nav .logo .footer__logo {
  padding-right: 15.73px;
}
.footer .footer__nav .logo p {
  text-transform: uppercase;
  color: #F7F7F7;
  font-family: "Roboto";
  font-size: 32px;
  line-height: 60px;
  font-weight: 400;
}
.footer .footer__nav .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__nav .navigation .nav__list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__nav .navigation .nav__list ul a {
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 400;
  color: #F7F7F7;
  text-align: left;
  margin-right: 86px;
  transition: 0.5s;
}
.footer .footer__nav .navigation .nav__list ul a:hover {
  color: #a5775c;
}
.footer .footer__nav .navigation .sosials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
}
@media screen and (max-width: 1300px) {
  .footer .footer__nav .navigation .sosials {
    padding-left: 0;
  }
}
.footer .footer__nav .navigation .sosials .sosial {
  box-sizing: border-box;
  transition: 0.5s;
  width: 40px;
  height: 40px;
}
.footer .footer__nav .navigation .sosials .sosial:hover {
  transform: scale(1.2);
}
.footer .footer__nav .navigation .sosials .sosial:not(:last-child) {
  margin-right: 27px;
}
.footer .footer__nav .navigation .sosials .facebook {
  background: url("../assets/FB.svg") no-repeat center/cover;
  background-size: contain;
}
.footer .footer__nav .navigation .sosials .instagram {
  background: url("../assets/insta.svg") no-repeat center/cover;
  background-size: contain;
}
.footer .footer__nav .navigation .sosials .pinterest {
  background: url("../assets/pinterest.svg") no-repeat center/cover;
  background-size: contain;
}
.footer .footer__nav .navigation .sosials .telegram {
  background: url("../assets/Telegram.svg") no-repeat center/cover;
  background-size: contain;
}

.to_top {
  background: rgba(255, 255, 255, 0.164);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
  color: #F7F7F7;
  transition: 0.5s;
}
.to_top:hover {
  transform: scale(1.2);
  color: #CD6326;
}/*# sourceMappingURL=style.css.map */